@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shalimar&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    color: black;
}
